extends layout

block content
  h1 Are you sure to delete genre: #{genre.name}
  form(action="", method="post")
    input(type="hidden", name="genreid", value=genre._id)
    input(type="submit", value="Delete Genre")
